@media(max-width:1200px) {
    .container {
        width: 90%;
    }

    .s2-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .box {
        width: 60%;
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (max-width:935px) {
    .cards {
        justify-content: space-around;
    }
}

@media (max-width: 991px ){
    .s-1{
        width: 100% ;
    }
}


@media (max-width:767px) {
    .nav > ul {
        display: none;
    }

    .burger-bars {
        display: block;
        cursor: pointer;
    }

    .box {
        width: 100%;
    }

}

@media (max-width:479px) {
    .s-1{
        max-width: 95%;
        margin: 10px;
    }
}
